@font-face {
    font-family: Quicksand;
    src: url('/fonts/Quicksand-Regular.otf') format('opentype');
}

html {
    height: 100%;
}
body {
    z-index: 100;
}

body #background {
    height: 100%;
    width: 100%;
    background-image: url("/img/background.jpeg");
    background-size: auto;
    z-index: 1;
}

body #foreground {
    background-color: white;
}

#header-name {
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 200%;
}