/* Font faces */

@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand-Regular.otf);
}

/* Tag-specific styles */

html {
    height: 100%;
}
body {
    height: 100%;
    z-index: 100;
    font-family: 'Quicksand', Helvetica, sans-serif;
}

/* Class styles */

.project-image {
    width: 100%;
    height: auto;
}

.project-title {
    font-size: 200%;
    font-weight: bold;
}

/* One-off tags */

#background {
    height: 100%;
    width: 100%;
    background-size: auto;
    background-image: url("/img/background.jpeg");
    opacity: 0.7;
    z-index: 1;
}

#foreground {
    background-color: white;
}

#header-name {
    font-size: 500%;
}
